{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <style type="text/css">
        .listoftopics {
            margin-left: 20px;
        }

        .listoftopics a {
            text-decoration: none;
            color: darkgreen;
        }

    </style>
    <h1>Data Stories Lead Generation</h1>
    <h3>List of topics:</h3>
    <div class="listoftopics">
        <a href="/wastebins">Waste bins</a><br>
        <a href="/publicreports">Public reports</a>
    </div>
{% endblock %}