{% extends 'main/base.html' %}

{% block title %}
Neighbourhoods
{% endblock %}

{% block content %}
    <style type="text/css">
        .listofneighbourhoods {
            margin-left: 20px;
        }

        .listofneighbourhoods a {
            text-decoration: none;
            color: darkgreen;
        }

    </style>
    <h1>Neighbourhoods</h1>

    <div class="row" style="max-width: 100%;font-size: 0.9rem!important;">
        <div class="col" style="max-height: 80vh!important;overflow: scroll;">
            <h3>Total neighbourhoods: {{ length }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><b>Neighbourhood</b></th>
                    <th scope="col"><b>Neighbourhood code</b></th>
                    <th scope="col"><b>Amount of waste bins</b></th>
                    <th scope="col"><b>Amount of residents</b></th>
                </tr>
                </thead>
                <tbody>
                {% for neighbourhood in data %}
                    <tr>
                        <td>{{ neighbourhood.name }}</td>
                        <td>{{ neighbourhood.code }}</td>
                        <td>{{ neighbourhood.waste_bins }}</td>
                        <td>{{ neighbourhood.residents }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col" style="max-height: 80vh!important;overflow: scroll;padding:2rem;">
            <div id="container" style="height:100%;width:100%;">
                <canvas id="neighbourhood-chart" data-url="{% url 'neighbourhood-chart' %}"></canvas>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        $(function () {

            const $neighbourhoodChart = $("#neighbourhood-chart");
            $.ajax({
                url: $neighbourhoodChart.data("url"),
                success: function (data) {

                    const ctx = $neighbourhoodChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'scatter',
                        data: {
                            datasets: data
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Waste bins to residents ratio'
                            },
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Amount of residents in the neighbourhood'
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Amount of waste bins in the neighbourhood'
                                    }
                                }]
                            },
                            tooltip: {
                                enabled:false
                            }
                        }

                    });
                }
            });

        });

    </script>

{% endblock %}