{% extends 'main/base.html' %}

{% block title %}
Public reports
{% endblock %}

{% block content %}
    <style type="text/css">

    </style>
    <h1>Public reports</h1>

    <select class="form-select form-select-sm w-25 m-5" id="subjectSelect" style="display: inline-block;">
        <option value="1.1+Afvalbak" selected>1.1 Afvalbak</option>
        <option value="1.2+Oud+papier">1.2 Oud papier</option>
        <option value="1.3+Ondergrondse+afvalcontainer">1.3 Ondergrondse afvalcontainer</option>
        <option value="2.1+Bomen">2.1 Bomen</option>
        <option value="10.2+Putten+of+kolken">10.2 Putten of kolken</option>
        <option value="10.5+Blauwalg">10.5 Blauwalg</option>
        <option value="12.2+straatnaambord">12.2 straatnaambord</option>
        <option value="14.2+Tegels+en+klinkers">14.2 Tegels en klinkers</option>
        <option value="14.5+Invalidenoprit">14.5 Invalidenoprit</option>
    </select>

    <select class="form-select form-select-sm w-25 m-5" id="unitSelect" style="display: inline-block;">
      <option value="residents" selected>Number of residents in neighbourhood</option>
      <option value="surface" disabled>Surface of neighbourhood</option>
    </select>


    <div id="loading" style="text-align: center"></div>
    <div id="container" style="height:60vh;width:100%;padding:0 5rem;">
        <canvas id="chart"></canvas>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        $('#subjectSelect').change(function(){
            $("div#loading").append('<div id="spinner" class="spinner-border text-danger" role="status"></div>');
            $("canvas#chart").remove();
            $("div#container").append('<canvas id="chart"></canvas>');
            const $chart = $("#chart");
            $(function () {
                const ctx = $chart[0].getContext("2d");
                let subjectSelected = $('#subjectSelect').find(":selected").val();
                let unitSelected = $('#unitSelect').find(":selected").val();
                $.ajax({
                    url: "/publicreports_data/x=" + subjectSelected + "&y=" + unitSelected,
                    success: function (data) {
                        new Chart(ctx, {
                            type: 'scatter',
                            data: {
                                datasets: data.data
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                    title: {
                                        display: true,
                                        text: 'Public reports to residents ratio'
                                    },
                                },
                                scales: {
                                    x: {
                                        title: {
                                            display: true,
                                            text: 'Amount of residents in the neighbourhood'
                                        }
                                    },
                                    y: {
                                        title: {
                                            display: true,
                                            text: 'Amount of public reports in the neighbourhood'
                                        }
                                    }
                                }
                            }
                        });
                        $('#spinner').remove();
                    }
                });
            });
        });

        $('#unitSelect').change(function(){
            $(function () {
                let subjectSelected = $('#subjectSelect').find(":selected").val();
                let unitSelected = $('#unitSelect').find(":selected").val();
                $.ajax({
                    url: "/publicreports_data/x=" + subjectSelected + "&y=" + unitSelected,
                    success: function (data) {
                        console.log(data.data);
                    }
                });
            });
        });

    </script>

{% endblock %}