{% extends 'main/base.html' %}

{% block title %}
Neighbourhoods
{% endblock %}

{% block content %}
    <style type="text/css">
        .listofneighbourhoods {
            margin-left: 20px;
        }

        .listofneighbourhoods a {
            text-decoration: none;
            color: darkgreen;
        }

    </style>
    <h1>Waste bins</h1>

    <div class="row" style="max-width: 100%;font-size: 0.9rem!important;">
        <div class="col" style="max-height: 80vh!important;overflow: scroll;padding:2rem;">
            <div id="loadingTable">
                <div class="spinner-border text-danger" role="status">

                </div>
            </div>
            <h3 id="total"></h3>
            <table class="table" id="table" style="display: none;">
                <thead>
                <tr>
                    <th scope="col"><b>Neighbourhood</b></th>
                    <th scope="col"><b>Neighbourhood code</b></th>
                    <th scope="col"><b>Amount of waste bins</b></th>
                    <th scope="col"><b>Amount of residents</b></th>
                </tr>
                </thead>
                <tbody id="neighbourhood-data" data-url="{% url 'neighbourhood-tabledata' %}">

                </tbody>
            </table>
        </div>
        <div class="col" style="max-height: 80vh!important; height: 80vh;overflow: scroll;padding:2rem;">
            <div id="loadingChart">
                <div class="spinner-border text-danger" role="status">

                </div>
            </div>
            <div id="container" style="height:100%;width:100%;">
                <canvas id="neighbourhood-chart" data-url="{% url 'neighbourhood-chartdata' %}"></canvas>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        $(function () {
            const $neighbourhoodChart = $("#neighbourhood-chart");
            $.ajax({
                url: $neighbourhoodChart.data("url"),
                success: function (data) {
                    const ctx = $neighbourhoodChart[0].getContext("2d");
                    new Chart(ctx, {
                        type: 'scatter',
                        data: {
                            datasets: data
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: false
                                },
                                title: {
                                    display: true,
                                    text: 'Waste bins to residents ratio'
                                },
                            },
                            scales: {
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Amount of residents in the neighbourhood'
                                    }
                                },
                                y: {
                                    title: {
                                        display: true,
                                        text: 'Amount of waste bins in the neighbourhood'
                                    }
                                }
                            }
                        }

                    });
                    $('#loadingChart').remove();
                }
            });

        });

        $(function () {
            const $neighbourhoodData = $("#neighbourhood-data");
            $.ajax({
                url: $neighbourhoodData.data("url"),
                success: function (data) {
                    $('#loadingTable').remove();
                    jQuery.each(data.data, function(index, item) {
                        $('#table > tbody:last-child').append('<tr><td>' + item.name + '</td><td>' + item.code + '</td><td>' + item.waste_bins + '</td><td>' + item.residents + '</td></tr>');
                    });
                    $('#table').css("display", "table");
                    $('#total').text('Total amount of neighbourhoods: ' + data.length);
                }
            });

        });

    </script>

{% endblock %}